
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,700&display=swap);

body{
background-color: E5E5E5;
padding: 50px 0;
font-family: "Poppins";
color: #6C757D;
font-size: 14px;
}
.wrapper {
}
[class *=__container] {
	max-width: 1270px;
	margin: 0 auto;

}
.text {
	max-width: 816px;
	margin: 0 auto;
}
.header__container {
}
.header__title {
	font-size: 12px;
	margin-bottom: 20px;
}

.htBold {
	background-color: #ffffff00;
	font-weight: 700;
}
.main__container {
}
.main__title {
}
.title {
	color: black;
	font-weight: 700;
	line-height: 1.6;
	font-size: 25px;
	margin-bottom: 30px;
}
.main__text {
	line-height:1.8;
	margin: 0 auto 80px ;
}
.main__text p {
	padding-bottom: 20px;
}
.img{
	max-width: 100%;
	margin-bottom: 80px;
}
.image img{
	padding-left: 20px;
	margin-bottom: 80px;
}
.second-pageBut {
	border: 1px solid rgba(255, 0, 0, 0);
	width: 200px;
	height: 50px;
	border-radius: 20px;
	background-color: #ff5900;
	margin-bottom: 30px;
	text-align: center;
	padding-top: 15px;
	color: #ffae00;
}
.second-pageBut:hover{
	color: azure;
}
.lesson-materialBut {
	border: 1px solid rgba(255, 0, 0, 0);
	width: 300px;
	height: 50px;
	border-radius: 20px;
	background-color: #ffae00;
	margin-bottom: 30px;
	text-align: center;
	padding-top: 15px;
	color: azure;
}
/* second page*/
.img__full img{
	width: 100%;
	margin: 80px auto;
}
hr{
	width: 820px;
	margin-bottom: 20px;
}
.header__text{
	margin-bottom: 20px;
}
/* home task*/
.block {
	border: 3px solid red;
	border-radius: 20px;
	background-color: rgb(0, 255, 128);
	margin-bottom: 50px;
}
.block2 {
	border: 3px dashed rgb(217, 10, 10);
	border-radius: 30px;
	background-color: rgb(30, 9, 100);
	color: wheat;
	margin-bottom: 50px;
}
.block3 {
	border: 3px dotted rgb(172, 62, 62);
	background-color: rgb(108, 89, 170);
	color: wheat;
	margin-bottom: 50px;
}
.imght img{
	width: 300px;
	border: 5px solid black;
	border-radius: 50%;
}
.img1 img{
	border: 10px #ff5900 dashed;
}
.img2 {
	opacity: 0.8;
}
.img3 {
	opacity: 0.5;
}