@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: grey;
}

.menu__header {
  font-size: 20px;
}

.menu__header a {
  color: red;
}

h1 {
  color: orange;
}

.main__title {
  font-size: 20px;
  color: orange;
}

.text p {
  color: green;
}

.text ~ p {
  color: red;
}

.main__link {
  color: greenyellow;
}

.text > p {
  color: rgb(60, 0, 255);
}

.text + p {
  color: aquamarine;
}

.text .more {
  color: greenyellow;
}

.next .low {
  color: red;
}

#did {
  color: blueviolet;
}

[class*=__container] {
  color: rgb(128, 0, 113);
}
.text,
.after{
  color: red;
}